.searchInput {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  font-size: 1.5rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  border-radius: 8px;
  border: none;
  text-align: center;
  width: 100%;
}

.searchInput:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.inputWrapper {
  margin: 0 auto;
}
