.movieDetailsWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 50px;
  min-height: 100vh;
}

.movieDetailsInfo {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
@media screen and (max-width: 640px) {
  .movieDetailsInfo {
    display: flex;
    flex-direction: column;
  }
}

.movieDetailsImg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.movieDetailsImg:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.movieDetailsTitle {
  font-size: 1.4rem;
}

.movieDetailsCount,
.movieDetailsVoteAverage {
  color: #ff8c00;
  font-size: 1rem;
  font-weight: 900;
}

.movieDetailsInfoDescription {
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-2 {
  display: flex;
  justify-content: flex-start;
}

.footer-2 > div {
  margin-right: 2rem;
}

.movieAdditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
