:root {
  --bg-light: #f4f4f4;
  --bg-dark: #262833;
  --text-light: #262833;
  --text-dark: #f4f4f4;
}

.lightMode {
  background-color: var(--bg-light);
  color: var(--text-light);
}

.darkMode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */

  max-width: 1200px; /* 2 */

  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
}

.slide-enter,
.slide-exit {
  transition: transform 1000ms ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
}

.slide-exit-active {
  transform: translateX(-100%);
}
